%img{:src => "graph1.png"}
%img{:src => "graph2.png"}
%img{:src => "graph3.png"}
%img{:src => "graph4.png"}
%img{:src => "graph5.png"}
%img{:src => "graph6.png"}
%img{:src => "graph7.png"}
%img{:src => "graph8.png"}