%img{:src => "images/graph1.png"}
%img{:src => "images/graph2.png"}
%img{:src => "images/graph3.png"}
%img{:src => "images/graph4.png"}
%img{:src => "images/graph5.png"}
%img{:src => "images/graph6.png"}
%img{:src => "images/graph7.png"}
%img{:src => "images/graph8.png"}