.jumbotron
  %h1
    Air Pollution
  %p
    cow
  %p
    %iframe{:src => "https://docs.google.com/presentation/d/1yhMMEDsPlgDoXzICjuAKEWvuZvOlhIIetNW5FNWnpvo/embed?start=false&loop=false", :frameborder => "0", :width => "960", :height => "569", :allowfullscreen => "true", :mozallowfullscreen => "true", :webkitallowfullscreen => "true"}